

/* Variables
__________________________________________________ */
:root {
	--light-text: #FFFFFF;
	--dark-text: #444444;

	--light-overlay: rgba(0, 0, 0, 0.05);
	--dark-overlay: rgba(0, 0, 0, 0.125);

	--default-color: #FFFFFF;
	--default-color-alt: #F9F8FC;
	--default-text-color: var(--dark-text);

	--primary-color: #593196;
	--primary-color-alt: #D1C5E2;
	--primary-text-color: var(--light-text);

	--secondary-color: #A991D4;
	--secondary-color-alt: #E7E0F3;
	--secondary-text-color: var(--light-text);

	--success-color: #13B955;
	--success-color-alt: #BDEBCF;
	--success-text-color: var(--light-text);

	--danger-color: #FC3939;
	--danger-color-alt: #FEC8C8;
	--danger-text-color: var(--light-text);

	--warning-color: #EFA31D;
	--warning-color-alt: #FBE5C0;
	--warning-text-color: var(--light-text);

	--info-color: #009CDC;
	--info-color-alt: #B8E3F5;
	--info-text-color: var(--light-text);

	--light-color: #F9F8FC;
	--light-color-alt: #FDFDFE;
	--light-text-color: var(--dark-text);

	--dark-color: #17141F;
	--dark-color-alt: #BEBDC0;
	--dark-text-color: var(--light-text);


	--fonts: Helvetica, "Trebuchet MS", Verdana, sans-serif;

	--radius-small: .1em;
	--radius-big: .3em;

	--trasition-short: .25s;
	--trasition-long: 1s;

	--input-border: 1px;
	--input-padding: .75em;
	--input-focus-shadow: 0 0 .5em;

	--table-line-border: 1px 0 0 0;
}


/* Base Styles
__________________________________________________ */

body {
	color: var(--default-text-color);
	background-color: var(--default-color);
	margin: 0;
	font-family: var(--fonts);
}

a {
	text-decoration: none;
	color: var(--primary-color)
}

a:hover {
	text-decoration: underline;
}


/* header
__________________________________________________ */

header {
	margin: 0 0 3em;
	padding: 1.5em;
}

header::after {
	content: "";
	display: table;
	clear: both;
}

.header-brand {
	font-size: 2rem;
	color: inherit;
}

.header-brand:hover {
	text-decoration: none;
}

.header-sidetext {
	margin: .25em 0;
	font-size: 1.5rem;
	color: var(--primary-color-alt);
	float: right;
}

.header-form {
	margin: 0;
	padding: 0;
	float: right;
}

.header-form input {
	margin: .1rem 0.3em;
	padding: 0.4rem 0.75rem;
	font-size: 1rem;
}

/* Navbar
__________________________________________________ */

nav {
	box-sizing: border-box;
	height: auto;
}

nav ul {
	display: flex;
	flex: auto;
	padding: 0;
	margin: 0;
	justify-content: space-between;
}

nav li {
	padding: .75em;
	width: 100%;
	list-style: none;
	margin: 0;
}

/* Forms
__________________________________________________ */

form {
	margin: 3em 0em 1em;
}

input {
	border: solid var(--primary-color-alt);
	border-width: var(--input-border);
	background-color: var(--default-color);
	padding: var(--input-padding);
	border-radius: var(--radius-small);
	color: var(--default-text-color);
	margin: .5em 0 .25em;
}


input:focus {
	border: solid var(--primary-color);
	border-width: var(--input-border);
	box-shadow: var(--input-focus-shadow) var(--primary-color);
	outline: 0;
	transition-property: all;
	transition-duration: var(--trasition-short);
}

label {
	margin: 1em 0 .75em;
	width: 100%;
	box-sizing: border-box;
	display: block;
}

/* Buttons
__________________________________________________ */
button,
input[type="submit"],
input[type="reset"],
input[type="button"]  {
	border: solid var(--primary-color-alt);
	border-width: var(--input-border);
	background-color: var(--default-color);
	padding: var(--input-padding);
	border-radius: var(--radius-small);
	color: var(--default-text-color);
	margin: .5em 0 .25em;
}

button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus{
	border: solid var(--primary-color);
	border-width: var(--input-border);
	box-shadow: var(--input-focus-shadow) var(--primary-color);
	outline: 0;
	transition-property: all;
	transition-duration: var(--trasition-short);
}

/* Tables
__________________________________________________ */

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border-style: solid;
	border-color: var(--dark-overlay);
	border-width: var(--table-line-border);
	padding: .75em;
	text-align: left;
}

/* Highligh
__________________________________________________ */

.highligh {
	color: var(--default-text-color);
	background-color: var(--default-color-alt);
	padding: 2em 1em;
	margin-bottom: 1em;
}

.lead {
	font-size: 1.25em;
}

/* Card
__________________________________________________ */

.card {
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: var(--radius-small);
	overflow: hidden;
}

.card header {
	background-color: rgba(0, 0, 0, 0.03);
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	padding: .75em 1.5em;
}

.card section {
	padding: 1.5em;
}

/* Alert
__________________________________________________ */

.alert {
	padding: .75em 1em;
	border: solid 1px var(--light-overlay);
	border-radius: var(--radius-small);
	margin: 0 0 1em;
	color: var(--dark-text);
}

/* Modal
__________________________________________________ */

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(63, 63, 63, 0.5);
}

/* TODO: Add fade effect */

.modal {
	overflow: hidden;
	margin: 2em auto;
	max-width: 40em;
	width: 60%;
	background-color: var(--default-color);
	z-index: 1;
	padding: .75em 2em;
	border-radius: var(--radius-big);
	animation-name: fade;
	animation-duration: 1s
}

@keyframes fade {
	from {opacity: 0}
	to {opacity: 1}
}

/* Contextual
__________________________________________________ */


tr.default, table.default {
	background-color: var(--default-color-alt);
	color: var(--default-text-color);
}

tr.primary, table.primary {
	background-color: var(--primary-color-alt);
	color: var(--default-text-color);
}

tr.secondary, table.secondary {
	background-color: var(--secondary-color-alt);
	color: var(--default-text-color);
}

tr.success, table.success {
	background-color: var(--success-color-alt);
	color: var(--default-text-color);
}

tr.danger, table.danger {
	background-color: var(--danger-color-alt);
	color: var(--default-text-color);
}

tr.warning, table.warning {
	background-color: var(--warning-color-alt);
	color: var(--default-text-color);
}

tr.info, table.info {
	background-color: var(--info-color-alt);
	color: var(--default-text-color);
}

tr.light, table.light {
	background-color: var(--light-color-alt);
	color: var(--default-text-color);
}

tr.dark, table.dark {
	background-color: var(--dark-color-alt);
	color: var(--default-text-color);
}


.primary {
	background-color: var(--primary-color);
	color: var(--primary-text-color);
}

.secondary {
	background-color: var(--secondary-color);
	color: var(--secondary-text-color);
}

.success {
	background-color: var(--success-color);
	color: var(--success-text-color);
}

.danger {
	background-color: var(--danger-color);
	color: var(--danger-text-color);
}

.warning {
	background-color: var(--warning-color);
	color: var(--warning-text-color);
}

.info {
	background-color: var(--info-color);
	color: var(--info-text-color);
}

.light {
	background-color: var(--light-color);
	color: var(--light-text-color);
}

.dark {
	background-color: var(--dark-color);
	color: var(--dark-text-color);
}

/* Helpers
__________________________________________________ */


.container {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
}

.container::after  {
	content: "";
	display: table;
	clear: both;
}

.container-fluid {
	max-width: 100%;
	margin: 2em 4em;
}

.full-width {
	width: 100%;
	box-sizing: border-box;
	float: left;
}

.half-width {
	width: 50%;
	box-sizing: border-box;
	float: left;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.hidden {
	visibility: hidden;
}

.disabled {
	visibility: disabled;
}

.sidepanel {
	float: left;
	width: 35%;
	padding: 1em;
	border-style: solid;
	border-width: 0 1px 0 0;
	box-sizing: border-box;
}

.rightpanel {
	float: right;
	width: 65%;
	padding: 1em;
	box-sizing: border-box;
}
